---
import type { CollectionEntry } from "astro:content";
import "katex/dist/katex.css";
import RootLayout from "./RootLayout.astro";
import Card from "@/components/Card.astro";
import TagList from "@/components/TagList.astro";
import { imageDeliveryUrl } from "../utils";
import "../styles/article.scss";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImageId,
  heroImageSource,
  heroImageSourceUrl,
  heroImageAuthor,
  heroImageAuthorUrl,
  heroImageOwned,
  tags,
  draft,
} = Astro.props;
---

<RootLayout
  title={title}
  description={description}
  image={heroImageId ? imageDeliveryUrl(heroImageId, "small") : undefined}
>
  <Card>
    {
      heroImageId && (
        <img
          src={imageDeliveryUrl(heroImageId, "public")}
          alt={title}
          loading="lazy"
          class="hero-image"
        />
      )
    }
    <article>
      <h1 class="emphasize">
        {title}
      </h1>
      <div class="meta">
        <div class="meta-badges">
          {draft && <span class="badge">Draft</span>}
          <span class="badge">Published: {pubDate.toLocaleDateString()}</span>
          {
            updatedDate && (
              <span class="badge">
                Updated: {updatedDate.toLocaleDateString()}
              </span>
            )
          }
        </div>
        {tags && <TagList tags={tags} />}
        <p class="description">{description}</p>
      </div>
      <hr />
      <slot />
    </article>
  </Card>
  <Card class="footer-card">
    <article>
      <p class="meta-text">
        This article is licensed under <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC BY-NC-SA 4.0</a
        >.
      </p>
      {
        heroImageOwned && (
          <p class="meta-text">
            Hero image is by blog author. All rights reserved.
          </p>
        )
      }
      {
        !heroImageOwned && heroImageAuthor && heroImageSource && (
          <p class="meta-text">
            Hero image by{" "}
            {heroImageAuthorUrl ? (
              <a href={heroImageAuthorUrl}>{heroImageAuthor}</a>
            ) : (
              heroImageAuthor
            )}
            on{" "}
            {heroImageSourceUrl ? (
              <a href={heroImageSourceUrl}>{heroImageSource}</a>
            ) : (
              heroImageSource
            )}
            . The hero image is <strong>not</strong> covered by the above
            license. All rights belong to the original author.
          </p>
        )
      }
    </article>
  </Card>
</RootLayout>

<style lang="scss">
  @use "@/styles/colors";

  hr {
    border: none;
    background-color: var(--color-muted-foreground);
    margin-block: 0;
    height: 0.5px;
    margin: 1rem 0;
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .meta-badges {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
    }

    .badge {
      display: inline-block;
      padding: 0.125rem 0.5rem;
      border-radius: 5rem;
      background-color: color-mix(in srgb, var(--color-card), transparent 30%);
      color: var(--color-muted-foreground);
      font-family: "Comic Neue", "Klee One", sans-serif;
      font-size: 0.75rem;
      white-space: nowrap;
    }

    .description {
      color: var(--color-muted-foreground);
      font-size: 0.875rem;
      font-style: italic;
    }
  }

  .hero-image {
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 21/9;
  }

  .footer-card {
    margin-top: 1rem;
  }
</style>
